<% content_for(:title) do %>
  <%= @restaurant.name %> is on La Cuillere
<% end %>
<div id="wrapper">
  <table>
      <tr>
        <td>
          <h1>Restaurant: <strong> <%= @restaurant.name %></strong></h1>
          <p>Address: <%= @restaurant.address %></p>
          <p>Category: <%= @restaurant.category %></p>
          <p>Phone: <%= @restaurant.phone_number %></p>
        </td>
      </tr>
  </table>
  <h2>Restaurant reviews</h2>
  <p>Avergae rating : <%=Review.where(restaurant_id: @restaurant.id).average("rating").round(1) if Review.where(restaurant_id: @restaurant.id).average("rating")%></p>

  <table>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td>
          <!-- I remove the 2 first caractere of the title beacause their is some markdown in it -->
          <p><%= review.content %></p>
        </td>
        <td>
          <!-- I remove the 2 first caractere of the title beacause their is some markdown in it -->
          <p>Its rating is  <%= review.rating %></p>
        </td>
      </tr>
    <% end %>
  </table>
    <br>
    <h3 style="width:100%; text-align:center;">Add your on review</h3>
    <%@review = Review.new%>
    <%= form_for ([@restaurant, @review]) do |f| %>
      <%= f.label :content %>
      <%= f.text_field :content, class: "form-control" %>
      <%  # text_area(:restaurant, :content, cols: 107, rows: 10) %>
      <%= f.label :rating %>
      <%= f.select :rating, [["1", 1], ["2", 1], ["3", 3], ["4", 4], ["5", 5]] %>
      <br>
      <div class="text-center">
        <%= f.submit 'All good', class: "text-center btn btn-success" %>
      </div>
    <% end %>

  <hr>
  <%= link_to "<= back to Restaurant list", restaurants_path %>
</div>
